.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.app
*.dmg
*.log
*.txt
ThermalHelper
Sources/Pulse/Resources/AppIconBase.png
Sources/Pulse/Resources/AppIcon.iconset/
